@model User

<table class="border border-dark shadow">
  <tr>
    <th class="pl-3 pr-3 pt-2 text-center" colspan="2"> <h3> Change Password </h3> </th>
  </tr>

  <tr>
    <td class="pl-4 pr-4" colspan="2"> <hr /> </td>
  </tr>

  <tr>
    <th class="p-1 pl-3 text-right"> Email Address: </th>
    <th class="p-1 pr-3 text-primary"> @Model.EmailAddress </th>
  </tr>

  <tr>
    <td class="pl-4 pr-4" colspan="2"> <hr /> </td>
  </tr>

  <tr>
    <th class="pb-3 pl-3 pr-3 text-lg-center text-success" colspan="2">
      Your password has been changed
    </th>
  </tr>
</table>
