@model Insurance

<form method="post">
  <input type="hidden" asp-for="@Model.VehicleId" />

  <table class="border border-dark shadow">
    <tr>
      <th class="pl-3 pr-3 pt-2 text-center" colspan="2"> <h3> Add New Insurance </h3> </th>
    </tr>

    <tr>
      <td class="pl-4 pr-4" colspan="2"> <hr /> </td>
    </tr>

    @if (ViewData.ModelState.ErrorCount > 0)
    {
      <tr>
        <th class="pl-3 pr-3" colspan="2">
          <div asp-validation-summary="All" class="text-danger"></div>
        </th>
      </tr>

      <tr>
        <td class="pl-4 pr-4" colspan="2"> <hr /> </td>
      </tr>
    }

    <tr>
      <th class="p-1 pl-3 text-right"> Date: </th>
      <td class="p-1 pr-3"> <input asp-for="Date" required value="@Model.Date?.ToString("yyyy-MM-dd")" /> </td>
    </tr>

    <tr>
      <th class="p-1 pl-3 text-right"> Number Of Months: </th>
      <td class="p-1 pr-3"> <input asp-for="NumberOfMonths" required type="number" min="1" max="24" /> </td>
    </tr>

    <tr>
      <th class="p-1 pl-3 text-right"> Company: </th>
      <td class="p-1 pr-3"> <input asp-for="Company" required /> </td>
    </tr>

    <tr>
      <th class="p-1 pl-3 text-right"> Policy Number: </th>
      <td class="p-1 pr-3"> <input asp-for="PolicyNumber" /> </td>
    </tr>

    <tr>
      <th class="p-1 pl-3 text-right"> Coverage: </th>
      <td class="p-1 pr-3"> <input asp-for="Coverage" /> </td>
    </tr>

    <tr>
      <th class="p-1 pl-3 text-right"> Total Cost: </th>
      <td class="p-1 pr-3"> <input asp-for="TotalCost" required type="number" min="0.01" max="99999.99" step="0.01" /> </td>
    </tr>

    <tr>
      <td class="pl-4 pr-4" colspan="2"> <hr /> </td>
    </tr>

    <tr>
      <td class="pb-3 pl-3 pr-3 text-center" colspan="2">
        <input type="submit" class="btn btn-sm btn-success" value="Add New Insurance" />
        <a asp-controller="Vehicle" asp-action="Detail" asp-route-id="@Model.VehicleId" class="btn btn-sm btn-info">
          Cancel
        </a>
      </td>
    </tr>
  </table>
</form>
