@model User

<form method="post">
  <table class="border border-dark shadow">
    <tr>
      <th class="pl-3 pr-3 pt-2 text-center" colspan="2"> <h3> Login </h3> </th>
    </tr>

    <tr>
      <td class="pl-4 pr-4" colspan="2"> <hr /> </td>
    </tr>

    @if (ViewData.ModelState.ErrorCount > 0)
    {
      <tr>
        <th class="pl-3 pr-3" colspan="2">
          <div asp-validation-summary="All" class="text-danger"></div>
        </th>
      </tr>
    }

    <tr>
      <th class="p-1 pl-3 text-right"> Email Address: </th>
      <td class="p-1 pr-3"> <input asp-for="EmailAddress" /> </td>
    </tr>

    <tr>
      <th class="p-1 pl-3 text-right"> Password: </th>
      <td class="p-1 pr-3"> <input asp-for="Password" /> </td>
    </tr>

    <tr>
      <td class="pl-4 pr-4" colspan="2"> <hr /> </td>
    </tr>

    <tr>
      <td class="pb-3 pl-3 pr-3 text-center" colspan="2">
        <input type="submit" class="btn btn-sm btn-success" value="Login" />
      </td>
    </tr>
  </table>
</form>
