@model Vehicle

<div class="container">
  <div class="row">
    <div class="col-md pb-3 pt-3">
      <partial name="DetailPartial" />
    </div>
    <div class="col-md pb-3 pt-3">
      <partial name="CostSummaryPartial" />
    </div>
  </div>

  <div class="row">
    <div class="col-md pb-3 pt-3">
    </div>
  </div>

  <div class="row">
    <div class="col-md pb-3 pt-3">
      <details class="d-inline-block" open>
        <summary> Fillups </summary>
        @Html.Partial("~/Areas/Fillups/Views/Fillup/ListPartial.cshtml")
      </details>
    </div>
  </div>

  <div class="row">
    <div class="col-md pb-3 pt-3">
      <details class="d-inline-block">
        <summary> Maintenance &amp; Repairs </summary>
        @Html.Partial("~/Areas/Maintenance/Views/Maintenance/ListPartial.cshtml")
      </details>
    </div>
  </div>

  <div class="row">
    <div class="col-md pb-3 pt-3">
      <details class="d-inline-block">
        <summary> Insurance </summary>
        @Html.Partial("~/Areas/Insurance/Views/Insurance/ListPartial.cshtml")
      </details>
    </div>
  </div>

  <div class="row">
    <div class="col-md pb-3 pt-3">
      <details class="d-inline-block">
        <summary> Registration </summary>
        @Html.Partial("~/Areas/Registrations/Views/Registration/ListPartial.cshtml")
      </details>
    </div>
  </div>
</div>
